.summary-item{
    padding: 16px;
    border-right: 1px solid #eee;
    border-bottom: 4px solid #9C27B0;
}
.title{
    font-size: 1rem;
    font-weight: 400;
    color: #afb2c1;
}
.value{
    font-size: 1.5rem;
    font-weight: 600;
    color: #575962;
}