
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened="true">
        <mat-toolbar></mat-toolbar>
        <nav role="navigation">
            <a routerLink="/dashboard" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Dashboard
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Shop
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Orders
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Media
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Messages
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Invoice
            </a>
            <a routerLink="#" class="nav-link--item">
                <mat-icon>home</mat-icon>
                Settings
            </a>
        </nav>
        
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon class="example-icon" (click)="sidenav.toggle()">favorite</mat-icon>
                <span class="flex"></span>
                <mat-icon class="example-icon">delete</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>